.sliderBox {
    margin-top: 20px;
    display: none;
}

.container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.btnActive {
    background-color: #717171;
}

.buttons {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 50%;
    bottom: -90%;
    transform: translate(-50%, 0%);

    .prev, .next {
        cursor: pointer;
        position: fixed;
        top: -40%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        user-select: none;
    
        &:hover {
            background-color: rgba(0,0,0,0.8)
        }
    }
    
    .prev {
        left: 0;
        border-radius: 0 3px 3px 0;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .dot {
        cursor: pointer;
        height: 5px;
        width: 50px;
        margin: 0 2px;
        background-color: #bbbbbb;
        display: inline-block;
    
        &:hover {
            background-color: #717171;
        }
    }

    .btnActive {
        background-color: #717171;
    }
}